/* Reset */

body{
    padding-top: 120px;
}
 
/* [class*="col-"] {
    border: 1px solid black;
    min-height: 100px;
}
 */

/* Header */

#play-logo {
    width: 150px;
}
    

#lens {
    width: 30px;
}

/* Jumbotron */

.jumbotron {
    height: 500px;
    background-size: cover;
    background-position: center;
}

#returnal {
    background-image: url(../img/jumbo-bg.png);
}

#it-takes-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

#returnal-img, #it-takes-img {
    width: 250px;
}

/* Playstation now */

#playstation-now {
    background-color: #161c3b;
}