/* Reset */

body{
    padding-top: 110px;
}

/* General Styles */

sup {
    font-size: 0.50em;
}

.button-custom {
    border: 2px solid transparent;
}

.button-custom:hover {
    box-shadow: 0 0 0 2px inset;
}

.rounded-custom {
    border-radius: 15px;
}

/* Header */

#play-logo {
    width: 100px;
}
   
.chevron-down, .chevron-hover {
    width: 10px;
}

.chevron-hover {
    display: none;
}

#lens {
    width: 30px;
}

#main-menu .nav-link{
    color: #212529;
}

#main-menu .nav-item:hover .nav-link{
    color: #0070d1;
}

#main-menu .nav-item:hover .chevron-down {
    display: none;
}

#main-menu .nav-item:hover .chevron-hover {
    display: inline-block;
} 

/* Jumbotron */

.jumbotron {
    height: 600px;
    background-size: cover;
    background-position: center;
}

#returnal {
    background-image: url(../img/jumbo-bg.png);
}

#it-takes-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.jumbotron .button-custom:hover {
    box-shadow: 0 0 0 2px inset black;
}

/* Gallery 1 */

.active-gallery {
    box-shadow: 0 0 0 3px white, 0 0 0 5px #0070d1;
}

#gallery-1 figure {
    cursor: pointer;
    transition: transform 0.5s;
}

#gallery-1 figure:hover {
    transform: translateY(-8px);
}

/* Playstation 5 */

#playstation-5 figure {
    cursor: pointer;
    opacity: 0.7;
}

#playstation-5 .active-play5 {
    border-bottom: 2px solid #0070d1;
}

#playstation-5 .active-play5 figure {
    opacity: 1;
}

#playstation-5 figure:hover {
    opacity: 1;
}

/* Playstation plus */

#playstation-plus {
    background-color: #bebcbb;
}

#playstation-plus .button-custom:hover {
    box-shadow: 0 0 2px 2px rgba(248, 249, 250, 0.2);
}

/* Playstation now */

#playstation-now {
    background-color: #161c3b;
}

/* Footer */

footer {
    background-color: #00439c;
}

#globe-img {
    width: 25px;
}

#sony-logo {
    width: 100px;
}